/*============================================================================================
Fonts
============================================================================================*/

@font-face {
font-family: Assassin;
src: url(../fonts/assassin/Assassin$.ttf);
}

@font-face{
font-family: LinLibertine_R;
src: url(../fonts/linux_libertine/LinLibertine_R.ttf)    
}

@font-face{
font-family: Roboto-Italic;
src: url(../fonts/roboto/Roboto-Italic.ttf)    
}

@font-face{
font-family: Roboto-Thin;
src: url(../fonts/roboto/Roboto-Thin.ttf)    
}

@font-face{
font-family: CaviarDreams;
src: url(../fonts/caviar_dreams/CaviarDreams.ttf)
}

@font-face{
font-family: Roboto-Regular;
src: url(../fonts/roboto/Roboto-Regular.ttf)    
}


* {
    /*font-family: Assassin;*/
    /*font-family: LinLibertine_R;*/
    font-family: Roboto-Regular;
    /*font-family: CaviarDreams;*/
}

/*============================================================================================
Header Styles
============================================================================================*/
.navbar-default {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-fixed-top {
    position: absolute;
}

.thumbnail {
    padding: 2px;
    background-color: #CC4B1B;
    border-radius: 1px;
    border-color: #2E2E2E;
}

.navbar-band {
    position: relative;
    top: 46px;
    left: 14%;
    background-color: rgba(231, 198, 153, 0.4);
    width: 86%;
    max-height: 40px!important;
    border: 2px solid #CC4B1B!important;
    border-left-color: transparent!important;
}

#menu {
    font-size: 1.5em;
    position: relative;
    top: 0;
}

.navbar-default .navbar-nav>li>a {
    font-family: Roboto-Italic;
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    font-family: Roboto-Italic;
    color: gray;
}

/*============================================================================================
Home Styles
============================================================================================*/
.jumbotron {
    background-color: transparent;
    color: #FAEEEA;
    padding-top: 120px;
    padding-bottom: 150px;
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 0;
    z-index: 1;
}

.jumbo-content-bg {
    background-color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 5px;
}

#section-1 h3 {
    font-family: Roboto-Italic;
    font-size: 22px;
    margin-bottom: 0;
}

#section-1 p {
    font-family: Roboto-Thin;
    font-size: 18px;
    margin-bottom: 0;
}

#btn-position {
    margin-top: 42px;
    margin-bottom: -42px;
}

.btn-lg {
    padding: 20px 80px;
    font-size: 20px;
}

.btn-color {
    background-color: #1A1423;
    color: #FAEEEA;
    border-color: #CC4B1B;
}

.btn-color:hover,
.btn-color:focus, {
    background-color: #FAEEEA;
    border-color: #CC4B1B;
    color: #000;
    border-width: 2px;
    border-radius: 2px;
}

.btn {
    font-family: Roboto-Italic;
}

/*============================================================================================
Products Styles
============================================================================================*/
.products {
    background-color: transparent;
    color: #F9F7F3;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1;
}

.section-h1 {
    text-align: center;
    font-size: 3.0em;
    text-transform: uppercase;
}

.section-hr {
    margin: 10px auto;
}

.product-hr {
    width: 26%;
}

.tab {
    background-color: #1A1423;
}

.tab-content-bg {
    background-color: #1A1423;
    padding: 50px;
    z-index: 5;
    border: 2px solid #CC4B1B;
    border-radius: 1px;
    border-top: none;
    /*border-top-color: #1A1423;*/
    margin-right: 0;
    margin-left: 0;
    height: 480px!important;
}

.tab-content-bg > .col-sm-6 > p {
    text-align: left;
}

.col-sm-6 .products-img {
    margin: 0 auto;
    max-width: 500px!important;
}

    /*------------------------------------------
    Customization of Tabs
    ------------------------------------------*/
    /*Tab - link*/
    .nav-tabs.nav-justified>li>a {
        border: none;
        border-bottom: 2px solid #CC4B1B;
        color: #fff;
        text-transform: uppercase;
        font-family: Roboto-Italic;
    }

    .nav>li>a:focus,
    .nav>li>a:hover {
        background-color: #1A1423;
        border: none;
        border-radius: 1px;
        font-family: Roboto-Italic;
    }

    /*Tab - active*/
    .nav-tabs.nav-justified>.active>a,
    .nav-tabs.nav-justified>.active>a:focus,
    .nav-tabs.nav-justified>.active>a:hover {
        border: 2px solid #CC4B1B;
        border-bottom: none;
        border-radius: 0;
        padding-bottom: 12px;
        font-family: Roboto-Italic;
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        cursor: default;
        background-color: #1A1423;
        color: #F9F7F3;
        text-transform: uppercase;
        font-family: Roboto-Italic;                
    }

    .nav-tabs {

    }

/*============================================================================================
Auction Styles
============================================================================================*/
.auction {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
}

.auction-h1 {
    color: grey;
}

.auction-hr {
    width: 51%;
}

.highlighter {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #CC4B1B;
    background-color: #fff;
    transition: all 0.5s;
    padding: 15px;
    color: #000;
}

.listing-image {
    width: 100%;
}

.listing-image img {
    width: 100%;
    max-width: 240px;
    height: auto;
    vertical-align: middle;
}

.listing-text a {
    font-size: 16px;
    color: #000;
}

.listing-text a:hover,
.listing-text a:focus {
    font-size: 16px;
    color: #949299;
    text-decoration: none; 
}

.listing-text h4 {
    margin: 0 0;
}

.listing-figures h5 {
    font-size: 13px;
    margin-bottom: 5px;
}

.listing-figures a {
    font-size: 18px;
}

.time-left {
    font-size: 13px;
}

.variable-data {
    margin-top: 10px;
}

.auction .container h1 {
    text-align: center;
    margin-top: 31px;
}

.auction .container .row {
    /*margin-bottom: 80px;*/
}

/*============================================================================================
Contact Styles
============================================================================================*/
.contact {
    background-color: transparent;
    color: #000;
}

.contact-hr {
    width: 26%;
}

.contact-content {
    padding: 20px 0;
}

.col-sm-6 .glyphicon {
    padding-right: 10px;
}

.thumbnail-contact {
    padding: 2px;
    background-color: #000;
    border-radius: 1px;
    border-color: #2E2E2E;
}

#find-us {
    font-family: LinLibertine_R;
}

/*============================================================================================
Footer Styles
============================================================================================*/
.footer {
    background-color: #0C0A10;
    color: #fff;
    text-align: center;
}

/*============================================================================================
Last Changes
============================================================================================*/
body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: LinLibertine_R;
}

/*============================================================================================
Notes
============================================================================================*/

/*Google API Key
AIzaSyB9EvHvuu1GJhdW7CBMySOxnVbaAkWlp3o*/

