.navbar-default {
	height: 135px;
	background-color: #000;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
}

.thumbnail {
	padding: 3px;
	background-color: #CC4B1B;
	border-radius: 3px;
	border-color: #2E2E2E;
}

#ul-navbar-right {
	padding-top: 30px;
}

.jumbotron {
	background-color: #000000;
	background-image: url(../img/fabian-kozdon-271993.jpg);
	background-size: cover;
	color: #FAEEEA;
	padding-top: 80px;
	padding-bottom: 300px;
	padding-right: 25px;
	padding-left: 25px;
	margin-bottom: 0;
}

.container-fluid {
	padding: 100px 50px;
}

.content {
	background-color: #E4D7C3;
}

.bg-grey {
	background-color: #1A1423;
	color: #F9F7F3;
}

.btn-color {
	background-color: #FAEEEA;
	border-color: #CC4B1B;
	color: #000;
	border-width: 3px;
}

.btn-color:hover {
	background-color: #940019;
	border-color: #870017;
	color: #000;
	border-width: 3px;
}

.bg-dark {
	background-color: #0C0A10;
	color: #fff;
	text-align: center;
}

#section-1 p {
	font-size: 18px;
}
/*
.nav-tabs {
	background-color:#E4D7C3; 
}

.nav-tabs > li > a {
	border-radius: 3px;
	color: #000;
}
 
.nav-tabs > li > a:hover {
	background-color: #C9AF88!important;
	border-radius: 3px;
	color: #EEE7DB;
	border:1px solid #CC4B1B;
}
 
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	background-color: #A18967!important;
	color: #F9F7F3;
	border: 1px solid #CC4B1B;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-color: transparent;
}

.tab-pane {
    border: solid 1px #CC4B1B;
    border-top: 0;
    background-color:#A18967;
    padding:5px;
    color: #000;
}
*/



a:hover,a:focus{
    outline: none;
    text-decoration: none;
}

.tab .nav-tabs{
    position: relative;
    border-bottom: none;
}

.tab .nav-tabs li{
    margin: 0;
}

.tab .nav-tabs li a{
    display: block;
    padding: 20px 15px;
    background: #E4D7C3;
    font-size: 17px;
    font-weight: 700;
    color: #f2bd47;
    text-align: center;
    border-radius: 0;
    border: none;
    margin-right: 0;
    overflow: hidden;
    z-index: 1;
    position: relative;
    transition: all 0.6s ease 0s;
}
.tab .nav-tabs li a:after{
    content: "";
    width: 100%;
    height: 100%;
    background: #E4D7C3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    perspective-origin: 50% 100%;
    transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    transform-origin: 50% 100% 0;
    transition: transform 0.6s ease 0s, background-color 0.6s ease 0s;
}
.tab .nav-tabs li.active a:after{
    background: #A18967;
    transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover{
    color: #000;
    border: none;
}
.tab .tab-content{
    padding: 20px;
    background: #A18967;
    font-size: 15px;
    color: #000;
    line-height: 26px;
}
.tab .tab-content h3{
    font-size: 24px;
    margin-top: 0;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
    }
}